.Rproj.user
.Rhistory
.RData
.Ruserdata
region_summary_download.Rmd
region_summary_download.html
region_summary_download.tex
write-test-ae098bc7-49b4-44fe-bf3c-ca5582ec7a5b
write-test-fc477b06-faff-4951-83ba-3f655e3c55be
